<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table width="610" border="0" cellpadding="0" cellspacing="0" align="center" style="border-left:1px solid #d1d3d4; border-right:1px solid #d1d3d4; border-bottom:1px solid #d1d3d4; margin-bottom:20px; padding-left:8px; padding-right:8px;">
        <tbody>
            <tr>
                <td><img src="https://bip.boschevaletleri.com/assets/bosch/images/bosch-topBorder.jpg" alt="Bosch" style="display:block; border:0;" width="611" height="72"></td>
            </tr>
            <tr>
                <td><img src="https://bip.boschevaletleri.com/assets/bosch/images/bip-bosch.png" alt="Bosch" style="display:block; border:0;"></td>
            </tr>
            <tr>
                <td style="font-family:Verdana; font-size:18px; color:#333333;">
                    Sayın @CandidateName,<br>
                    <br>
                </td>
            </tr>
            <tr>
                <td style="font-family: Arial; font-size: 14px; color: #333333;">
                    <p>Bosch Ev Aletleri tarafından doldurmanız istenen envantere aşağıdaki link aracılığıyla ulaşabilirsiniz.</p>
                    <!--<p>Bu uygulamada &ccedil;eşitli &ouml;zelliklerinizin değerlendirilmesine y&ouml;nelik hazırlanmış 75 ifade yer almakta ve uygulama yaklaşık 30 dakika s&uuml;rmektedir. Tek seferde belirtilen s&uuml;re i&ccedil;erisinde uygulamayı tamamlamanızı &ouml;neririz. Uygulama i&ccedil;in tanımlanan s&uuml;re bittiğinde, envanter kendiliğinden sona erecektir.</p>
                    <p>Envanteri doldururken yapmanız gereken, envanterde yer alan her bir ifadenin sizin i&ccedil;in uygunluk d&uuml;zeyini se&ccedil;enekler doğrultusunda yanıtlamanızdır. L&uuml;tfen ifadeleri SIRASIYLA yanıtlayınız ve hi&ccedil;bir ifadeyi boş bırakmayınız. İfadelerin doğru ya da yanlış yanıtları bulunmamaktadır; bu y&uuml;zden ifadeler &uuml;zerinde &ccedil;ok fazla d&uuml;ş&uuml;nmeden i&ccedil;tenlikle yanıt vermeye &ccedil;alışınız. Yanıtladığınız ifadelere geri d&ouml;nme imkanınız bulunmamaktadır.</p>
                    <p>Envanteri yanıtlamaya başlamadan &ouml;nce l&uuml;tfen aşağıda belirtilen uyarıları dikkate alınız:</p>
                    <ul>
                        <li>Envanteri başkaları tarafından rahatsız edilmeyeceğiniz bir ortamda doldurmanızı &ouml;neririz.</li>
                        <li>Online uygulamamızın sorunsuz &ccedil;alışabilmesi i&ccedil;in Internet Explorer 8 ve &uuml;st&uuml; ya da Chrome, Firefox veya Safari tarayıcıların g&uuml;ncel s&uuml;r&uuml;mlerinden birisinin kullanılması gerekmektedir.</li>
                        <li>Envanterin yanıtlanması sırasında m&uuml;mk&uuml;nse sadece ilgili ekran a&ccedil;ık olmalı ve envanter ekranı dışındaki ekranlarla &ccedil;alışır durumdaki diğer programlar kapatılmalıdır.</li>
                        <li>Uygulama esnasında internet sayfasında donmalar olduğunda sayfayı yenilemek i&ccedil;in F5 tuşuna basabilirsiniz. Sorunun devam etmesi halinde, s&ouml;z konusu sayfayı kapatıp e-postada iletilen linke tekrar tıklamanızı &ouml;neririz. Sayfayı teknik bir sorun nedeniyle kapatmanız ve aynı linke tıklayarak sayfaya tekrar bağlanmanız durumunda s&uuml;re ilerletilmeyecek ve kalınan yerden envantere devam edilebilecektir.</li>
                        <li>Uygulama sırasında ekran ya da internet bağlantısı ile ilgili herhangi bir sorun yaşandığında, s&uuml;renin ilerlememesi i&ccedil;in uygulamanın ger&ccedil;ekleştiği sayfanın kapatılması gerekmektedir. Bu gibi teknik aksaklıklarla karşılaştığınızda aşağıda verilen e-posta adresinden bizimle iletişime ge&ccedil;ebilirsiniz.</li>
                        <li>Linke tıklanırken ya da link tarayıcıya kopyalanırken eksik kopyalanabilir. B&ouml;yle bir durumda kullanıcı adı ve şifresinin istendiği bir ekran &ccedil;ıkacaktır. Sorunu gidermek i&ccedil;in linkin tamamını kopyalayıp tarayıcıya yapıştırmak yeterlidir.</li>
                    </ul>-->
                    <p>Envanteri en kısa zaman i&ccedil;inde tamamlamanızı rica ederiz.</p>
                    <p>
                        Uygulama esnasında teknik anlamda herhangi bir sorun yaşamanız durumunda <a href="mailto:destek@assessment.com.tr">destek@assessment.com.tr</a> adresinden Assessment Systems ile iletişime ge&ccedil;ebilirsiniz.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="background-color:#dfdfe0; color:#000000; font-family:Arial; font-size:14px; line-height:32px; text-align: center;" height="32">
                    Envantere gitmek için <a href="@TestLink" target="blank">tıklayınız</a>.
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px;">
                    <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td style="width: 100px; font-family:Arial; font-size:14px; color:#333333;">Bayi Ünvanı</td>
                                <td>:</td>
                                <td style="width: 650px; font-family:Arial; font-size:14px; color:#333333;">@DealerName</td>
                            </tr>
                            <tr>
                                <td style="width: 100px; font-family:Arial; font-size:14px; color:#333333;">Telefon</td>
                                <td>:</td>
                                <td style="width: 650px; font-family:Arial; font-size:14px; color:#333333;">@DealerPhone</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <!--<td><img src="http://www.bosch-tablet.com/images/mailing/footer-border.jpg" style="display:block; border:none"></td>-->
            </tr>
            <tr>
                <td style="text-align:right;">
                    <!--<a href="http://www.youtube.com/BoschHomeTurkiye" target="_blank"><img src="http://www.bosch-tablet.com/images/mailing/youtube.jpg" style="border:0; display:inline-block;"></a>
                    <a href="https://www.facebook.com/BoschHomeTurkiye" target="_blank"><img src="http://www.bosch-tablet.com/images/mailing/facebook.jpg" style="border:0; display:inline-block;"></a>
                    <a href="https://instagram.com/boschhometurkiye" target="_blank"><img src="http://www.bosch-tablet.com/images/mailing/instagram.jpg" style="border:0; display:inline-block;"></a>-->
                </td>
            </tr>
            <tr>
                <!--<td><img src="http://www.bosch-tablet.com/images/mailing/footer-border.jpg" style="display:block; border:none"></td>-->
            </tr>
        </tbody>
    </table>
</body>
</html>