<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="font-family: 'Calibri'; font-size: 11pt;">
    Merhaba @userFullName,<br /><br />
    @portalName Sistemine hoşgeldiniz. Sizin için oluşturulan kullanıcı bilgileri aşağıdaki gibidir.<br /><br />
    <table cellspacing='0' cellpadding='0' border='0'>
        <tr>
            <td><b>Kullanıcı Adınız</b></td>
            <td>:</td>
            <td>@email</td>
        </tr>
        <tr>
            <td><b>Şifreniz</b></td>
            <td>:</td>
            <td>@password</td>
        </tr>
    </table>
    <br /><br />
    @portalName Destek Hattı<br /><br />
    0530 173 17 08<br />
    @portalName - @portalLongName'na <a href="@brandUrl" target='_blank'>@brandDomain</a> adresinden giriş yapabilirsiniz.
</body>
</html>
