<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="font-family: 'Calibri'; font-size: 11pt;">
    <p class='AddMailNormal'>Merhaba,</p>
    <p class='AddMailNormal'>@infoText</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class='AddMailBold'><b>Bayi Kodu:</b>&nbsp;</span>
        <span class='AddMailNormal'>@dealerCode</span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class='AddMailBold'><b>Bayi ünvanı:</b>&nbsp;</span>
        <span class='AddMailNormal'>@dealerName</span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class='AddMailBold'><b>E&#45;Posta:&nbsp;</b></span>
        <span class='AddMailNormal'>@email</span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class='AddMailBold'><b>Alternatif E&#45;Posta:&nbsp;</b></span>
        <span class='AddMailNormal'>@otherEmail</span>
    </p>
    <p class='AddMailNormal'>Saygılarımızla,</p>
    <p class='AddMailNormal'>Bayi İletişim Platformu Destek Hattı</p>
</body>
</html>
