<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="font-family: 'Calibri'; font-size: 11pt;">
    Merhaba @userFullName,<br /><br />
    @dateTime tarihinde, şifrenizi unuttuğunuzu bildirdiniz. Şifrenizi sıfırlayabilmek için aşağıdaki linke tıklayarak açılan pencereden adımları takip edebilirsiniz:<br /><br />
    <a href="@activationUrl" target="_blank">Şifre sıfırlama işlemleri için lütfen tıklayınız.</a><br /><br />
    Bayi İletişim Platformu Destek Hattı<br /><br />
    0530 173 17 08<br />
    BIP - Bayi İletişim Platformu'na  <a href="@brandUrl" target='_blank'>@brandDomain</a> adresinden giriş yapabilirsiniz.<br />
</body>
</html>
